
     
        h1
        {
            background-color: white;
            color: LightSeaGreen;
            font-family: sans-serif;
            text-align: center;
            width: 45%;
            margin:auto;
            padding: 20px;
        }
        body
        {
            background-image: url('2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
